accelerate==1.14.0
bitsandbytes==0.50.0
datasets==4.3.0
peft==0.19.1
sentence-transformers==5.6.0
skrutable==2.9.2
torch==2.11.0+cu128
torchao==0.17.0
torchaudio==2.11.0+cu128
torchcodec==0.11.0+cu128
torchdata==0.11.0
torchsummary==1.5.1
torchtune==0.6.1
torchvision==0.26.0+cu128
transformers==5.5.0
trl==0.24.0
unsloth==2026.7.5
unsloth_zoo==2026.7.6
